body {
  background-color: #EEEEEE;
  margin: 0px;
}

header {
  background-color: #6200EE;
  color: white;
  padding: 0px 8px;
}

h1 {
  padding: 16px;
  margin: 0px;
}

.card {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 0px 16px;
  background-color: white;
}

main {
  margin: 0px 32px;
}